#content .item-product .thumb img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
#content .item-product .info-product .price del * {
    color: #000;
    text-decoration: line-through;
}
img.alignnone.wp-image-76 {
    width: 1000px;
}




div.wpcf7 {
}
.wpcf7-textarea {

    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;

}
}
.wpcf7 input {

    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 0px 15px;
    margin-bottom: 30px;
}
.wpcf7-text {
    width: 50%;
}
.wpcf7-submit {
    background-color: #f48840;
/*    color: #fff;
*/


}